-
  const menuPopupList = [
    [
      {
        name: 'Главная',
        href: '#',
        goto: '',
      },
      {
        name: 'Демонтажные работы',
        href: '#',
        goto: '',
      },
      {
        name: 'Ремонт помещений',
        href: '#',
        goto: '',
      },
      {
        name: 'Фасадная печать',
        href: '#',
        goto: '',
      },
    ],
    [
      {
        name: 'Прокат инструментов',
        href: '#',
        goto: '',
      },
      {
        name: 'О нас',
        href: '#',
        goto: '',
      },
      {
        name: 'Цены',
        href: '#',
        goto: '',
      },
      {
        name: 'Контакты',
        href: '#',
        goto: '',
      },
    ],
  ];

header.header
  ._container.header__container
    .header__wrapper
      .header__item
        button.header-menu.scroll-control(data-section='menu')
          span.header-menu__title menu

          span.header-menu__burger.menu-burger
            span.scroll-control__label
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="6" transform="matrix(0 1 1 0 0 0)" stroke="currentColor" stroke-width="4"/>
              </svg>

        button.header-menu.popup-open(
          data-popup='_popup-menu',
          title='open menu'
        )
          span.header-menu__title menu

          span.header-menu__burger.menu-burger

      .header__item
        a.custom-logo-link.header__logo(href='#') 
          img.custom-logo(
            src=require('@/assets/img/logo.svg'),
            alt='logo',
            draggable='false'
          )

      .header__item
        a.header-call.contact-call.whatsapp(href='tel:+380662105690')
          span.contact-call__label
            img(src=require('@/assets/img/contacts/whatsapp.svg'), alt='call')

          span.contact-call__text +38 066 210-56-90

  include @/layout/popup.pug
