section.banner.section(
  class=`${banner.specialClass && banner.specialClass !== '' ? banner.specialClass : ''}`
)
  .section-bg
    if banner.media
      .section-bg__image
        if banner.media.type === 'image'
          img(src=require(`${banner.media.path}`), alt='background')

        else if banner.media.type === 'video'
          //- <video disablePictureInPicture preload="metadata" playsinline loop muted autoplay class="banner-video lazy-video">
          //-   source(data-src=require(`${banner.media.path}`), type='video/mp4')
          //- </video>
          video.banner-video.lazy-video(
            disablePictureInPicture,
            preload='metadata',
            playsinline,
            loop,
            muted,
            autoplay
          )
            source(data-src=require(`${banner.media.path}`), type='video/mp4')

    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.banner__container.section__container
    .banner__wrapper
      h1.banner__title!= banner.title

      p.banner__subtitle!= banner.subtitle

      .banner__button__container
        if banner.button !== ''
          button.banner__button.button-hollow.popup-open(
            data-popup='_popup-form'
          )
            span= banner.button

        if banner.media.type === 'video'
          button.banner-circle-button.popup-open(data-popup='_popup-banner')
            span.banner-circle-button__container
              span Останні роботи

              i.banner-circle-button__outer
                span.banner-circle-button__text
                  img(
                    src=require('@/assets/img/circle-button-text.svg'),
                    alt='text'
                  )

                span.banner-circle-button-circles
                  span.banner-circle-button-circles__item
                    <svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="49" cy="49" r="48.5" stroke="currentColor"/>
                    </svg>

                  span.banner-circle-button-circles__item
                    <svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="49" cy="49" r="48.5" stroke="currentColor"/>
                    </svg>

                span.banner-circle-button__ico
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M45.5 22.4019C47.5 23.5566 47.5 26.4434 45.5 27.5981L17 44.0526C15 45.2073 12.5 43.7639 12.5 41.4545L12.5 8.54552C12.5 6.23612 15 4.79274 17 5.94744L45.5 22.4019Z" fill="currentColor"/>
                  </svg>

      .banner-mouse
        .banner-mouse__label
          img(src=require('@/assets/img/mouse.svg'), alt='scroll-down')

      //- .banner-media
      //-   .banner-media__container
      //-     img(src=require('@/assets/img/banner-media.jpg'), alt='banner')
