section.banner.section
  .section-bg
    if banner.media
      .section-bg__image
        if banner.media.type === 'image'
          img(src=require(`${banner.media.path}`), alt='background')

    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.banner__container.section__container
    .banner__wrapper
      h1.banner__title= banner.title

      p.banner__subtitle= banner.subtitle

      if banner.button !== ''
        button.banner__button.button-hollow.popup-open(
          data-popup='_popup-form'
        )
          span= banner.button

      .banner-mouse
        .banner-mouse__label
          img(src=require('@/assets/img/mouse.svg'), alt='scroll-down')

      //- .banner-media
      //-   .banner-media__container
      //-     img(src=require('@/assets/img/banner-media.jpg'), alt='banner')
