-
  //- const galleryArray = [
  //-   {
  //-     isActive: 'true',
  //-     data: '1',
  //-     type: 'Category 1',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '2',
  //-     type: 'Category 2',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '3',
  //-     type: 'Category 3',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '4',
  //-     type: 'Category 4',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '5',
  //-     type: 'Category 5',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '6',
  //-     type: 'Category 6',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-1.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '7',
  //-     type: 'Category 7',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-3.jpg',
  //-       },
  //-     ]
  //-   },
  //-   {
  //-     isActive: 'false',
  //-     data: '8',
  //-     type: 'Category 8',

  //-     list: [
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-       {
  //-         image: '@/assets/img/gallery/gallery-2.jpg',
  //-       },
  //-     ]
  //-   },
  //- ];

section.gallery.section(
  class=`${gallery.specialClass ? gallery.specialClass : '' }`
)
  .section-bg
    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.section__container
    .gallery__wrapper
      .gallery-header.section-header
        h2.section-header__title= gallery.title

        if gallery.subtitle && gallery.subtitle !== ''
          p.gallery-header__subtitle= gallery.subtitle

        p.section-header__label= gallery.headerLabel

      .gallery__main(
        class=`${gallery.content.length !== 1 ? 'fade-section' : 'single-gallery'}`
      )
        if gallery.content.length !== 1
          .fade-section__list.gallery-navigation
            ul.gallery-navigation__inner
              each item in gallery.content
                li
                  button.button-hollow.fade-section__button.gallery-navigation__button(
                    class=`${item.isActive === 'true' ? 'active' : ''}`,
                    data-item=`${item.data}`,
                    aria-label=`${item.type}`
                  )
                    span= item.type

        .gallery-content
          div(class=`${gallery.content.length !== 1 ? 'fade-section-content' : ''}`)
            each item, index in gallery.content
              div.fade-section-content__item(
                class=`${item.isActive !== 'true' ? 'unactive' : ''}`,
                data-item=`${item.data}`
              )
                .gallery-content__item
                  .gallery-slider.slider.swiper
                    .swiper-wrapper
                      each media, indexMedia in item.list 
                        .swiper-slide
                          a.gallery-slider__item(
                            href=require(`${media.image}`),
                            data-fancybox=`gallery-${index}`
                          )
                            span.gallery-slider__media
                              span.gallery-slider__media__container
                                img(
                                  src=require(`${media.image}`),
                                  alt=`${item.type}-${indexMedia + 1}`,
                                  loading='lazy'
                                )

                            if media.title && media.title !== ''
                              span.gallery-slider__title= media.title

                  .gallery-slider-controls.slider-controls
                    .gallery-slider-pagination.slider-pagination
