section.info-section.section(class=`${info.specialClass ? info.specialClass : '' }`)
  .section-bg
    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.section__container
    .info-section__wrapper
      .info-section-header.section-header
        h2.section-header__title= info.title

        if info.subtitle && info.subtitle !== ''
          p.info-section-header__subtitle= info.subtitle

        p.section-header__label= info.titleLabel

      .info-section__main
        .info-section-media
          if info.media.type === 'image'
            img(
              src=require(`${info.media.path}`),
              alt=`${info.title}`,
              loading='lazy'
            )

        .info-section__content
          each content in info.content
            case content.type
              when 'typography'
                .typography.info-section__typography!= content.text

              when 'action'
                .info-section__action
                  button.info-section__button.button-hollow.popup-open(
                    data-popup='_popup-form'
                  )
                    span= content.text

              when 'list'
                ul.info-section-list.marked-list
                  each item in content.list
                    li.marked-list__item
                      .marked-list__label
                        img(src=require(`${item.image}`), alt=`${item.title}`)

                      .marked-list__content
                        p.marked-list__title= item.title

                        p.marked-list__description!= item.description

              when 'checklist'
                ul.info-section-check-list
                  each item in content.list
                    li.info-section-check-list__item
                      .info-section-check-list__label
                        img(
                          src=require('@/assets/img/info/check.svg'),
                          alt=`${item}`
                        )

                      .info-section-check-list__description!= item

              default
                .typography.info-section__typography!= `<p>no content!</p>`
