section.info-section.section
  .section-bg
    .section-bg-lines
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item
      .section-bg-lines__item

  ._container.section__container
    .info-section__wrapper
      .info-section__header.section-header
        h2.section-header__title= info.title

        p.section-header__label= info.titleLabel

      .info-section__main
        .info-section-media
          if info.media.type === 'image'
            img(
              src=require(`${info.media.path}`),
              alt=`${info.title}`,
              loading='lazy'
            )

        .info-section__content
          each content in info.content
            case content.type
              when 'typography'
                .typography.info-section__typography!= content.text

              when 'list'
                ul.info-section-list.marked-list
                  each item in content.list
                    li.marked-list__item
                      .marked-list__label
                        img(src=require(`${item.image}`), alt=`${item.title}`)

                      .marked-list__content
                        p.marked-list__title= item.title

                        p.marked-list__description!= item.description

              default
                .typography.info-section__typography!= `<p>no content!</p>`
